# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.build/
.pytest_cache/
.mypy_cache/

# Envs
.venv/
venv/
.env

# OS/editor
.DS_Store
.idea/
.vscode/

# Node (just in case)
node_modules/

# Docker
*.log

# Build artifacts
htmlcov/
dist/
site/
.coverage*
coverage.xml

# Tools
.poetry-cache/
ruff_cache/
pytestdebug.log
